<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Привет))</div>
<div>
    <a href="/main">На главную</a>
    <a href="/admin">Админ панель</a>
</div>
<div>
    <a href="/registration">Регистрация</a>
    <a href="/login">Логин</a>
</div>
</body>
</html>